{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col-xl-8 py-5 px-md-5">
		<!-- 포스터 감싸는 디브 -->
		<div class="row pt-md-4" style = "display: flex; min-height: 80vh;  flex-direction: column;"> 
			 <!-- 포스터  -->
			{% for post in page %}
			<div class="col-md-12">
				<div class="blog-entry ftco-animate d-md-flex">
					<img src = "{{ post.image.url }}" class="img img-2">
					<div class="text text-2 pl-md-4">
						<h3 class="mb-2"><a href="single.html">{{post.title}}</a></h3>
						<div class="meta-wrap">
							<p class="meta">
								<span><i class="icon-calendar mr-2"></i>{{post.date}}</span>
								<span><a href="single.html"><i class="icon-folder-o mr-2"></i>{{post.date}}</a></span>
								<span><i class="icon-comment2 mr-2"></i>{{post.comments.count}} Comment</span>
							</p>
						</div>
						<p class="mb-4">{{post.content}}</p>
						<p><a href="{% url 'detail' post.id %}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div><!-- END-->
		<!-- 페이지네이션 -->
		<div class="row" style= "flex:1; margin-top: auto">
			<div class="col">
				<div class="block-27">
				<ul>
					{% if page.has_previous %}
					<li><a href="?page=1">&lt;&lt</a></li>
					<li><a href="?page={{page.previous_page_number}}">&lt;</a></li>
					{% endif %}
					{% for i in p_range %}
					<li {% if page.number == i %} class ="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
					{% endfor %}

					{% if page.has_next %}
					<li><a href="?page={{page.next_page_number}}">&gt;</a></li>
					<li><a href="?page={{page.paginator.num_pages}}">&gt;&gt;</a></li>
					{% endif %}	
				</ul>
				</div>
			</div>
		 </div>
	</div>
{% endblock %}


